{% extends 'base.html' %}
   {% block body %}
   <div class ="container my-3">
        <form action = "/update/{{t.sno}}"  method="POST">
             <div class="mb-2">
                  <label for="title" class="form-label">Todo Title</label>
                  <input type="text" class="form-control" name="title" id="title" value="{{t.title}}" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="desc" class="form-label">Your Description</label>
                  <input type="text" class="form-control" name="desc"  id="desc" value="{{t.desc}}">
                </div>
              
                <button type="update" class="btn btn-primary">Update</button>
              </form>
         </div>
    {% endblock body %}     
        